<a href="https://colab.research.google.com/github/CN-12/pyexcel/blob/main/pandastest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
#첫번째 sheet 출력
import pandas as pd

File = pd.read_excel('/content/example.xlsx')
print(File)

   Num  Name Grade
0    1   Kim    A+
1    2   Lee     A
2    3  Park     B

In [ ]:
#첫번째 행 출력
import pandas as pd

File = pd.read_excel('/content/example.xlsx')
for i in File:
  print(i)

Num
Name
Grade

In [ ]:
#하나씩 들어가서
import pandas as pd

File = pd.read_excel('/content/example.xlsx')
for i in File:
  for j in i:
    print(j)

N
u
m
N
a
m
e
G
r
a
d
e

In [ ]:
#타입은 df구먼?
import pandas as pd

File = pd.read_excel('/content/example.xlsx')
print(type(File))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
#타입은 df구먼?
import pandas as pd

File = pd.read_excel('/content/example.xlsx')
print(type(File))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
import pandas as pd

File = pd.read_excel('/content/example.xlsx', sheet_name=0)
File1 = pd.read_excel('/content/example.xlsx', sheet_name=1)
File2 = pd.read_excel('/content/example.xlsx', sheet_name=2)
print(File)
print(File1)
print(File2)

   Num  Name Grade
0    1   Kim    A+
1    2   Lee     A
2    3  Park     B
    과일     가격   색
0   레몬   1000  노랑
1  바나나    800  노랑
2    귤    500  주황
3   체리  10000  빨강
4   키위   6000  초록
   Num  Name Grade
0    1   Kim    A+
1    2   Lee     C
2    3  Park     -

In [ ]:
#시트 이름으로 
import pandas as pd

File = pd.read_excel('/content/example.xlsx')
File1 = pd.read_excel('/content/example.xlsx', sheet_name="2nd Sheet")
File2 = pd.read_excel('/content/example.xlsx', sheet_name="Na example")
print(File)
print(File1)
print(File2)

   Num  Name Grade
0    1   Kim    A+
1    2   Lee     A
2    3  Park     B
    과일     가격   색
0   레몬   1000  노랑
1  바나나    800  노랑
2    귤    500  주황
3   체리  10000  빨강
4   키위   6000  초록
   Num  Name Grade
0    1   Kim    A+
1    2   Lee     C
2    3  Park     -

In [ ]:
#시트 이름으로 
import pandas as pd

pd.read_excel('/content/example.xlsx', header=0)

   Num  Name Grade
0    1   Kim    A+
1    2   Lee     A
2    3  Park     B

In [ ]:
pd.read_excel('/content/example.xlsx', header=1)

   1   Kim A+
0  2   Lee  A
1  3  Park  B

In [ ]:
pd.read_excel('/content/example.xlsx', header= None)

     0     1      2
0  Num  Name  Grade
1    1   Kim     A+
2    2   Lee      A
3    3  Park      B

In [ ]:
File = pd.read_excel('/content/example.xlsx', header= None)
print(File[0][2])

2

In [ ]:
File = pd.read_excel('/content/example.xlsx', header= None)
a = int(input())
for i in range(3):
  print(File[i][a], end=" ")

1
1 Kim A+

In [ ]:
File = pd.read_excel('/content/example.xlsx', header= None)
a = ["UM", "Jun", "Sik"]
for i in range(3):
  File[1][i] = a[i]
File.to_excel('/content/um.xlsx')